/*-------------------- Google Font --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*-------------------- Color Variables --------------------*/
:root {
    --blue-color: #4a92ed;
    --dark-blue-color: #478de3;
    --green-color: #449389;
    --dark-green-color: #16534b;
    --text-color: #333333;
    --body-color: #ffffff;
    --off-white-color: #dbdbdb;

    --font-logo: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    --font-title: 'garamond-premier-pro', 'Poppins', sans-serif;
    --font-text: 'DS Trade Gothic', 'Poppins', sans-serif;
}
